<%- include("header") -%>

<h2>This is the about page.</h2>
<p>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Debitis, porro consequatur. Perspiciatis praesentium facere ea dolor impedit id blanditiis modi sapiente, sunt explicabo, sit possimus, esse quam aperiam eaque nihil.</p>

<%- include("footer") -%>
