<div id="app-header">
  <h2 id="logo-heading">My ToDoList</h2>
  <form action="/search" method="POST">
    <input name="searchList" placeholder="Search a list" id="searchBox" />
  </form>
  <form action="/logout" method="POST">
    <button id="header-logout-button">Logout</button>
  </form>

  <div class="btn-group dropleft">
    <button
      class="btn"
      type="button"
      id="dropdownMenuButton"
      data-toggle="dropdown"
      aria-haspopup="true"
      aria-expanded="false"
    >
      <i class="fas fa-bars"></i>
    </button>

    <div class="dropdown-menu">
      <form
        action="/logout"
        class="dropdown-item"
        id="dropdownLogoutButton"
        method="POST"
      >
        <button class="dropdown-btn">Logout</button>
      </form>
      <form action="/deleteAccount" class="dropdown-item" method="POST">
        <button class="dropdown-btn" id="deleteAccountButton">
          Delete Account
        </button>
      </form>
    </div>
  </div>
</div>
