<div id="app-header">
  <h2 id="logo-heading">My ToDoList</h2>
  <form action="/search" method="POST">
    <input name="searchList" placeholder="Search a list" id="searchBox" />
  </form>
  <form action="/logout" method="POST">
    <button id="header-logout-button">Logout</button>
  </form>
</div>
