<%- include("header") -%>

<div id="homepage">
  <div><h1 id="homepage-text"><div id="welcome">Welcome</div><div id="to">TO</div><div id="myToDoList">My ToDoList</div></h1></div>
  
  <form>
    <a class="btn btn-light btn-lg" role="button" href="/signup">Signup</a>

    <a class="btn btn-dark btn-lg" role="button" href="/login">Login</a>
  </form>
</div>

<%- include("footer") -%>
