<%- include("header") -%>

<div class="box">
  <form action="/login" method="POST">
    <label>E-mail</label>
    <input type="text" name="username" />
    <label>Password</label>
    <input type="password" name="password" />
    <button type="submit">Login</button>
  </form>
</div>

<%- include("footer") -%>
