/* html {
  background-color: #e4e9fd;
  background-image: -webkit-linear-gradient(65deg, #a683e3 50%, #e4e9fd 50%);
  min-height: 100%;
  font-family: "helvetica neue";
} */

/* * {
  border: 1px solid black;
} */

body {
  /* min-height: 100%;
  background-color: transparent; */
  max-height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.item {
  min-height: 70px;
  display: flex;
  align-items: center;
  border-bottom: 1px solid #f1f1f1;
}

.item:last-child {
  border-bottom: 0;
}

input:checked + p {
  text-decoration: line-through;
  text-decoration-color: #a683e3;
}

input[type="checkbox"] {
  margin: 20px;
}

p {
  margin: 0;
  padding: 20px;
  font-size: 20px;
  font-weight: 200;
  color: #00204a;
}

button.addNewItem,
#newListForm > button {
  min-height: 50px;
  width: 50px;
  border-radius: 50%;
  border-color: transparent;
  background-color: #a683e3;
  color: #fff;
  font-size: 30px;
  padding-bottom: 6px;
  text-align: center;
  border-width: 0;
  outline: none;
}

#addNewItem {
  text-align: center;
  height: 60px;
  top: 10px;
  border: none;
  background: transparent;
  font-size: 20px;
  font-weight: 200;
  width: 313px;
}

#addNewItem:focus,
#newListForm > input:focus {
  outline: none;
  box-shadow: inset 0 -3px 0 0 #a683e3;
}

::placeholder {
  color: grey;
  opacity: 1;
}

footer {
  color: white;
  color: rgba(0, 0, 0, 0.5);
  text-align: center;
}

#main-lists-page {
  background-color: #a683e3;
  background-image: url("https://www.transparenttextures.com/patterns/diagmonds.png");
  max-height: 100vh;
  width: 100%;
  display: flex;
  justify-content: space-between;
}

#all-lists-section {
  background-color: white;
  min-width: 25%;
  min-height: 100vh;
}

.listsMenuBar {
  min-height: 77vh;
  max-height: 77vh;
  top: 13vh;
  min-width: 25%;
  background-color: white;
  box-shadow: 0 12px 18px rgba(0, 0, 0, 0.26);
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  overflow-y: auto;
  position: absolute;
}

.listsMenuBar > a {
  margin: 2px;
  box-shadow: 0 12px 18px rgba(0, 0, 0, 0.16);
  padding: 10px;
  width: 100%;
  background-color: transparent;
  border: none;
  outline: none;
  font-family: "Reggae One", "Dancing Script";
  color: #675686;
  text-align: center;
}

.listsMenuBar > a:active {
  box-shadow: none;
  border: none;
}

#newListForm {
  display: flex;
  justify-content: space-around;
  position: fixed;
  width: 25%;
  margin-top: 90vh;
}

#newListForm > input {
  text-align: center;
  height: 60px;
  top: 10px;
  border: none;
  background: transparent;
  font-size: 20px;
  font-weight: 200;
  /* width: 75%; */
}

#open-list-section {
  min-height: 100vh;
  min-width: 75%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  /* margin-top: 13vh; */
}

.box {
  min-width: 400px;
  max-width: 400px;
  background: white;
  border-radius: 5px;
  box-shadow: 5px 5px 15px -5px rgba(0, 0, 0, 0.3);
}

#heading {
  max-height: 70px;
  background-color: #a683e3;
  margin-top: 5px;
  /* top: 17vh; */
  text-align: center;
  color: white;
  margin-top: 10px;
  margin-bottom: 20px;
  font-family: "Dancing Script", "Reggae One";
}

#display-list-items {
  min-height: 400px;
  max-height: 60vh;
  overflow-y: auto;
}

form.item {
  display: flex;
  justify-content: space-around;
  background-color: white;
  position: fixed;
  margin-top: 88vh;
  text-align: center;
  min-width: 400px;
  border-bottom-left-radius: 5px;
  border-bottom-right-radius: 5px;
}

.authentication-form {
  /* #009688 */
  /* #60f6e4 */
  /* #00bcd4 */
  width: 100%;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  border: 10px double white;
  box-sizing: border-box;
  background-color: #a683e3;
  background-image: url("https://www.transparenttextures.com/patterns/diagmonds.png");
  /* z-index: -2; */
}

.card {
  max-height: 90%;
  width: 40%;
  background-color: white;
  /* border-radius: 12px;  */
  /* box-shadow: 0 12px 18px rgba(0, 0, 0, 0.26);  */
  margin-left: auto;
  margin-right: auto;
  padding: 2rem;
  overflow-y: auto;
  /* position: relative; */
  box-shadow: 0 2.8px 2.2px rgba(0, 0, 0, 0.034),
    0 6.7px 5.3px rgba(0, 0, 0, 0.048), 0 12.5px 10px rgba(0, 0, 0, 0.06),
    0 22.3px 17.9px rgba(97, 81, 81, 0.072),
    0 41.8px 33.4px rgba(0, 0, 0, 0.086), 0 100px 80px rgba(0, 0, 0, 0.12);
}
/* .card:after {
  z-index: -1;
  position: absolute;
  content: "";
  bottom: 15px;
  right: 10px;
  left: auto;
  width: 50%;
  top: 80%;
  max-width: 300px;
  background: #777;
  -webkit-box-shadow: 0 15px 10px #777;
  -moz-box-shadow: 0 15px 10px #777;
  box-shadow: 0 15px 10px #777;
  -webkit-transform: rotate(3deg);
  -moz-transform: rotate(3deg);
  -o-transform: rotate(3deg);
  -ms-transform: rotate(3deg);
  transform: rotate(3deg);
} */

/* width */
::-webkit-scrollbar {
  width: 5px;
}

/* Track */
::-webkit-scrollbar-track {
  background: transparent;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: lightgrey;
  border-radius: 2px;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #675686;
}

.card > p {
  text-align: center;
}

.myToDOListHeading {
  color: #675686;
  text-align: center;
  font-family: Satisfy, cursive;
}

.control {
  margin: 1rem 0;
  display: flex;
  /* align-items: stretch; */
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
}

.control label,
.control input {
  display: inline;
}

.control > label {
  font-weight: bold;
  color: #464646;
  margin-bottom: 0.5rem;
  width: 37%;
  font-size: 1.2rem;
}

.control > input {
  /* flex-grow: 1; */
  font: inherit;
  padding: 0.35rem 0.35rem;
  border-radius: 6px;
  border: 1px solid #ccc;
  width: 67%;
}

.control > input:focus {
  outline: none;
  border-color: #4f005f;
  background: #f6dbfc;
}

.control button {
  margin-left: auto;
  margin-right: auto;
  min-width: 200px;
  min-height: 50px;
  border-radius: 20px;
  box-shadow: 0 1rem 1rem rgb(0 0 0 / 18%);
  border: none;
  background-color: #675686;
  color: white;
  font-size: 1.5rem;
  outline: none;
}

.control button:active {
  box-shadow: none;
  border: none;
}
/* 
@media (max-width: 1100px) {
  .card {
    width: 60%;
  }
} */

@media (max-width: 1100px) {
  .card {
    width: 75%;
  }
}

@media (max-width: 600px) {
  .card {
    width: 90%;
    height: auto;
    padding: 1rem;
  }

  .myToDOListHeading {
    font-size: 1.5rem;
  }

  .control {
    flex-direction: column;
    align-items: flex-start;
    margin: 0.5rem 0;
  }

  .control button {
    min-width: 180px;
    min-height: 40px;
  }

  .control > label,
  .control > input {
    width: 100%;
  }
}

#homepage {
  height: 100vh;
  width: 100%;
  border: 10px double white;
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: #675686;
  background-image: url("https://www.transparenttextures.com/patterns/food.png");
  /* background-color: #675686;
background-image: url("https://www.transparenttextures.com/patterns/basketball.png"); */
  /* This is mostly intended for prototyping; please download the pattern and re-host for production environments. Thank you! */
}

#homepage-text {
  color: White;
  margin: 70px;
  background-color: #675686;

  padding: 20px;
}

#homepage-text div {
  font-weight: bold;
  text-align: center;
}

#welcome {
  font-family: Sofia, satisfy, cursive;
  font-size: 2em;
}

#to {
  font-family: "Reggae One", "Dancing Script";
  font-size: 1em;
}

#myToDoList {
  font-family: "Dancing Script", "Reggae One";
  font-size: 2.5em;
}

#app-header {
  border: 1px solid black;
  min-width: 100%;
  height: 80px;
  background-color: white;
  position: fixed;
  top: 0;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0px 10px;
}

#logo-heading {
  color: #675686;
  margin: 10px;
}

#header-logout-button {
  min-width: 150px;
  max-height: 70px;
  border-radius: 40px;
  box-shadow: 0 1rem 1rem rgb(0 0 0 / 18%);
  border: none;
  background-color: #675686;
  color: white;
  font-size: 1.5rem;
  outline: none;
}

#searchBox {
  width: 600px;
  height: 50px;
  text-align: center;
  color: #675686;
  font-size: 1.5em;
  border: 1px solid #675686;
  outline: #675686;
}
